body {
  font-family: 'Comic Neue', 'Comic Sans MS', cursive, sans-serif !important;
  margin: 40px;
  background: #deefff;
  height: 100%;
  overflow: hidden;
}

h1 {
  margin-bottom: 40px;
  font-weight: bolder;
}

canvas {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

